@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /** Font **/
    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', serif;

    /** Primario **/
    --darkCyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /** Neutral **/
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);

    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--montserrat);
    font-size: 1.4rem;
    color: var(--darkGrayishBlue);
    line-height: 1.5;
    background-color: var(--cream);
}

/** Globales **/

.contenedor {
    margin: 0 auto;
    width: min(90%, 35rem);
    margin-top: 14.7rem;
    margin-bottom: 14.6rem;
    background-color: var(--white);
    border-radius: 0.7rem;

}

a {
    text-decoration: none;
    font-size: 1.4rem;
}

h1 {
    font-family: var(--fraunces);
    font-size: 2.8rem;
    line-height: 1;
    color: var(--veryDarkBlue);
}

img {
    max-width: 100%;
}

.add-cart:hover {
    background-color: var(--veryDarkBlue);
    cursor: pointer;
}

.atribution {
    font-size: 1rem;
    text-align: center;
}
.atribution a {
    color: hsl(228, 46%, 27%);
}

/** Utilidades **/

.centrar-texto {
    text-align: center;
}

.no-margin {
    margin: 0;
}


/*Image*/
.image {
    height: 24rem;
    background-image: url(../img/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.7rem 0.7rem 0 0;
}

/*Product*/
.product {
    padding: 2.5rem 1.6rem;
}
.product-type {
    font-weight: 500;
}

.product-name {
    padding-top: 0.8rem;
    padding-right: 2rem;
    margin-right: 2rem;
}

.product-description {
    font-weight: 500;
}

.product-price {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: var(--fraunces);
    color: var(--darkCyan);
    font-size: 2.4rem;
}

.product-price span {
    font-family: var(--montserrat);
    color: var(--darkGrayishBlue);
    font-size: 1.4rem;
    text-decoration: line-through;
}

.add-cart {
    width: 100%;
    height: 4.8rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: none;
    color: var(--white);
    background-color: var(--darkCyan);
}

/*Media Queria*/
@media (min-width: 1440px) {
    .contenedor {
        display: flex;
        width: 60rem;
    }

    .product {
        width: 100%;
        padding: 2.5rem 3.3rem;
    }

    .image {
        background-image: url(../img/image-product-desktop.jpg);
        border-radius: 0.7rem 0 0 0.7rem;
        width: 100%;
        height: auto;
    }

    .product-price {
        font-size: 3.5rem;
    }
}